body {
  background: gold;
}
p {
  color: white;
  font-family: cursive;
  font-size: 25px;
}
h1 {
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  letter-spacing: 10px;
  box-shadow: 10px 5px;
  box-sizing: padding-box 10px 10px;
}
p {
  text-align: center
}
.links {
  text-align: left;
  font-family: monospace;
  font-size: 15px;
}
.Home1 {
  background-color: white;
  color: red
}